MONGODB_URI=mongodb+srv://aterronm:aterronm@aterronm.sa30qim.mongodb.net/
JWT_SECRET=cambia-esto-en-produccion
PORT=3000
USER_MONGO=aterronm
USER_PASSWORD=aterronm
MONGO_CLUSTER=aterronm
MONGO_APP_NAME=tienda-api
